/* san pham */
.container>aside .vmenu{
    padding: 0px;
    margin: 10px;
    list-style: none;
    border-radius: 3px;
    box-shadow: 0px 0px 2px lightgray;
}
.container>aside .vmenu a{
    background: url('images/icon.png') no-repeat 10px center;
    display: block;
    border-bottom: 1px dotted orange;
    color: orangered;
    font-variant: small-caps;
    font-size: larger;
    text-decoration: none;
    padding: 8px 5px 8px 30px;
}
.container>aside .vmenu a:hover{
    background: url('images/icon_hover.png') no-repeat 10px center;
    border-bottom: 1px dotted white;
    background-color: orangered;
    color: white;
    font-weight: bold;
}
/* front page */
body{
    padding: 0px;
    margin: 0px;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}
.container>header{
    background-image: url('./images/poly-header.jpg');
    background-size: 100% 100%;
    height: 0px;
    padding-bottom: 25%;
    position: relative;
}
.container>nav{
    line-height: 40px;
    background-color: orangered;
    color: white;
    font-variant: small-caps;
    position: relative;
}
.container>nav>a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
.container>nav>a:hover{
    color: yellow;
    text-decoration: underline;
}
.container>article{
    min-height: 400px;
    width: 75%;
    background-color: whitesmoke;
    float: left;
}
.container>aside{
    min-height: 400px;
    width: 25%;
    background-color: lightgray;
    float: right;
}
.container>footer{
    border-top: 5px double orangered;
    line-height: 50px;
    background-color: lightcyan;
    text-align: center;
    font-variant: small-caps;
    clear: both;
}
iframe[name = page]{
    width: 100%;
    min-height: 400px;
}
.right{
    position: absolute;
    top: 0px;
    right: 10px;
}
.right ul{
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
}
.right ul li a{
    padding: 0px 10px;
    text-decoration: none;
    color: white;
}
.right ul li a:hover{
    color: yellow;
    text-decoration: yellow;
}
.menu{
    position: absolute;
    left: 0px;
}
.menu>ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-radius: 3px;
    background-color: orangered;
}
.menu>ul>li{
    display: inline-block;
}
.menu>ul>li>a{
    display: block;
    text-decoration: none;
    font-variant: small-caps;
    font-size: larger;
    color: white;
    padding: 0 10px;
    line-height: 40px;
}
.menu>ul>li>a:hover{
    color: yellow;
    position: relative;
}
.menu>ul>li:hover>ul{
    display: block;
    z-index: 1;
}
.menu ul ul{
    position: absolute;
    display: none;
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-radius: 3px;
    width:200px;
    background-color: wheat;
    box-shadow:0 0 1px gray;
}
.menu ul ul a{
    display: block;
    line-height: 30px;
    color:orangered;
    text-decoration: none;
    font-variant: small-caps;
    font-size: larger;
    padding: 0 10px;
}
.menu ul ul a:hover{
    background-color: orangered;
    color: yellow;
}
/* San pham */
*{
    box-sizing: border-box;
}
.container>article>.col-25{
    width: 25%;
    float: left;
    min-height: 200px;
}
.container>article>.col-25>.prod{
    border-radius: 10px;
    box-shadow: 0px 0px 5px lightgrey;
    margin: 5px;
    padding: 5px;
    text-align: center;
    position: relative;
    min-height: 190px;
}
.container>article>.col-25>.prod>.name{
    font-variant: small-caps;
    color: orangered;
}
.container>article>.col-25>.prod>.new-icon{
    position: absolute;
    top: -5px;
    right: -10px;
}
.container>article>.col-25>.prod>.image{
    max-width: 98%;
    height: 150px;
    margin-bottom: 10px;
}
.container>article>.col-25>.prod>.price{
    position: absolute;
    left: 5px;
    bottom: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color: orange;
}
.container>article>.col-25>.prod>.icons{
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 25px;
}
.container>article>.col-25>.prod>.prod>.new-icon{
    position: absolute;
    top: 0px;
    right: 0px;
}
/* header layout */
.container{
    position: relative;
}
.container>header>.top-right{
    position: absolute;
    top: 0px;
    right: 0px;
    border-bottom-left-radius: 30px;
    line-height: 40px;
    background-color: orangered;
    text-align: center;
    font-variant: small-caps;
    box-shadow: 0px 0px 10px white;
}
.container>header>.top-right a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
.container>header>.top-right a:hover{
    color: yellow;
    text-decoration: underline;
}
.container>header>.company-info{
    position: absolute;
    Bottom: 30px;
    Left:15px;
}
.container>header>.company-info>.name{
    font-size: 40px;
    font-variant: small-caps;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 5px red;
}
.container>header>.company-info>.small-text{
    text-decoration: overline;
    color: orangered;
    font-variant: small-caps;
    font-size: 20px;
}
